# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

/Lab1/proxy/http_proxy
/Lab1/server/http_server
/Lab1/proxy/http_proxy.exe
/Lab1/server/http_server.exe

/Lab1/server/database/

/Lab2/src/main/mr-*
/Lab2/src/main/mrcoordinator
/Lab2/src/main/mrsequential
/Lab2/src/main/mrworker

